body {
	background-color: #000A47;
	text-align: center;
}

.title {
	width: 25%;
	height: auto;
	padding: 20px;
}

.imgs {
	width: auto;
	height: 400px;
	text-align: center;
	float: left;
	/*margin: 0 150px;*/
}

#carousel{
	margin-left: 70px;
	height: 80%;
	width: 400px;
	display: flex;
	align-content: center;
}

.wrap {
	overflow: hidden;
}

.glyphicon, .fa {
	color: white;
}

